<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaaaain.mapper.RatingsMapper">

    <!--新增评分记录-->
    <insert id="insert" useGeneratedKeys="true">
        insert into ratings(session_id, score, suggestion, create_time,
                            L, A, S, T, L_comment, A_comment, S_comment, T_comment)
        values (#{sessionId},#{score},#{suggestion},NOW(),
                #{L},#{A},#{S},#{T},#{L_comment},#{A_comment},#{S_comment},#{T_comment})
    </insert>

</mapper>

