<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaaaain.mapper.UserMapper">

    <!--查询单个-->
    <select id="queryById" resultType="com.jaaaain.entity.User">
        select *
        from user
        where user_id = #{id}
    </select>



    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultType="com.jaaaain.entity.User">
        select *
        from user
        <where>
            <if test="username != null and username != ''">
                and username like concat("%",#{username},"%")
            </if>
            <if test="isAdmin != null">
                and is_admin = #{isAdmin}
            </if>
        </where>
    </select>

    <!--通过username和password查询用户-->
    <select id="queryByUsername" resultType="com.jaaaain.entity.User">
        select * from user
        where username = #{username}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into user(username, password, create_time)
        values (#{username}, #{password}, NOW())
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="isAdmin != null">
            is_admin = #{isAdmin},
            </if>
        </set>
        where user_id = #{userId}
    </update>
    <!--通过主键删除数据-->
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM user WHERE user_id = #{id}
    </delete>

    <!--查询所有用户-->
    <resultMap id="UserResultMap" type="com.jaaaain.entity.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="is_admin" property="isAdmin"/>
    </resultMap>

    <select id="queryAllUsers" resultMap="UserResultMap">
        SELECT * FROM user
    </select>


</mapper>

